<p id="notice"><%= notice %></p>

<p>
  <strong>Posttitle:</strong>
  <%= @blog_post.posttitle %>
</p>

<p>
  <strong>Authorname:</strong>
  <%= @blog_post.authorname %>
</p>

<p>
  <strong>Posttext:</strong>
  <%= @blog_post.posttext %>
</p>

<p>
  <strong>Commenttext:</strong>
  <%= @blog_post.commenttext %>
</p>

<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %>
